@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #e2e3e8;
    --color-accent: #05edab;
    --color-background: #242630;
  }
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 5px;
}
